# Hugging face settings
HF_TOKEN="huggingface_token_goes_here"
HF_HOME="huggingface_cache_directory_goes_here"

# UV Cache
UV_CACHE_DIR="uv_cache_directory_goes_here"
UV_LINK_MODE="symlink"

# Storage settings
DATASETS_CACHE="datasets_cache_directory_goes_here"
WEIGHTS_CACHE="weights_cache_directory_goes_here"

# Wandb settings
# use "online" for logging to wandb server
WANDB_MODE="offline" 
WANDB_ENTITY="wandb_entity_goes_here"
WANDB_PROJECT="wandb_project_name_goes_here"
